[submodule "src/master/libcouchbase-cxx"]
	path = src/master/libcouchbase-cxx
	url = https://github.com/couchbaselabs/libcouchbase-cxx.git
[submodule "tests/Catch"]
	path = tests/Catch
	url = https://github.com/philsquared/Catch.git
